frr version 8.1_git
frr defaults traditional
hostname {{ hostname }}
no ipv6 forwarding
!
{% for interface in interfaces %}
interface {{ interface.name }}
{% if interface.ip %}
 ip address {{ interface.ip }}
{% endif %}
exit
!
{% endfor %}
router bgp {{ asn }}
 bgp router-id {{ router_id }}
 bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 timers bgp {{ keepalive }} {{ holdtime }}
{% for peer_group in peer_groups %}
 neighbor {{ peer_group.name }} peer-group
 neighbor {{ peer_group.name }} remote-as {{ peer_group.remote_as }}
 neighbor {{ peer_group.name }} advertisement-interval 0
{% for neighbor in peer_group.neighbors %}
 neighbor {{ neighbor }} interface peer-group {{ peer_group.name }}
{% endfor %}
{% endfor %}
 !
 address-family ipv4 unicast
{% for network in networks %}
  network {{ network }}
{% endfor %}
 exit-address-family
exit
!

{#
frr version 8.1_git
frr defaults traditional
hostname leaf1
no ipv6 forwarding
!
interface eth3
 ip address 192.168.11.1/24
exit
!
interface eth4
 ip address 192.168.12.1/24
exit
!
interface lo
 ip address 10.10.10.21/32
exit
!
router bgp 65001
 bgp router-id 10.10.10.21
 bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 timers bgp 3 9
 neighbor SPINE peer-group
 neighbor SPINE remote-as 65000
 neighbor SPINE advertisement-interval 0
 neighbor eth1 interface peer-group SPINE
 neighbor eth2 interface peer-group SPINE
 !
 address-family ipv4 unicast
  network 192.168.11.0/24
  network 192.168.12.0/24
 exit-address-family
exit
!
#}
