!
router bgp {{ ASN }}
 bgp router id {{ router_id }}
 {#- Keeping the default policy requirement is recommended for production #}
 no bgp ebgp-requires-policy
{%- for PEER_AS in peer_as_list %}

 neighbor AS{{ PEER_AS.asn }} peer-group
 neighbor AS{{ PEER_AS.asn }} remote-as {{ PEER_AS.asn }}
 neighbor AS{{ PEER_AS.asn }} update-source lo
 neighbor AS{{ PEER_AS.asn }} next-hop-self
{%- for interface in PEER_AS.interfaces %}

 neighbor {{ interface }} peer-group AS{{ PEER_AS.asn }}
 neighbor {{ interface }} description {{ PEER_AS.description }}
{%- endfor %}
{%- endfor %}