# This is a base template file for clab.yaml for each container lab
# Don't forget to set"-pirt"
name: {{ name }}
mgmt:
{%- if mgmt == "auto" %}
  ipv4-subnet: auto
  ipv6-subnet: auto
{% else %}
  ipv4-subnet: {{ mgmt }}
{%- endif %}

topology:
  defaults:
    kind: {{ topology.defaults.kind }}
    image: {{ topology.defaults.image }}

  nodes:
  {%- for node, attrs in topology.nodes.items() %}
    {{ node }}:
    {%- for key, value in attrs.items() %}
      {{ "  " + key }}: {{ value }}
    {%- endfor %}
  {%- endfor %}

  links:
  {%- for link in topology.links %}
    - endpoints: {{ link.endpoints | tojson }}
  {%- endfor %}
